<div class="adviser-login">
  <div class="adviser-login__inner">
    <%= image_tag 'logo.png',class: "adviser-login__inner__img" %>
    <section class="adviser-login__inner__text">TECH::EXPERT求人system</section>
    <div class="adviser-login__inner__main">
      <h2 class="adviser-login__inner__main__text">CAログイン</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="adviser-login__inner__main__field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@example", class: "adviser-login__inner__main__field__input" %>
        </div>

        <div class="adviser-login__inner__main__field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "********", class: "adviser-login__inner__main__field__input" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="adviser-login__inner__main__submit">
          <%= f.submit "ログイン", class: "adviser-login__inner__main__submit__btn" %>
        </div>
      <% end %>

      <%= render "advisors/shared/links" %>

    </div>

  </div>

</div>
