<main class = "st__my">
  <header class = "st__my__header">
    <%=@student.name%> / <%=@student.period%>期 / 担当CA：<%=@student.advisor.name%>
  </header>

  <div class = "st__my__main">
    <section class = "st__my__main__applying">
      <div class = "st__my__main__applying__title">
        <%=@student.name%>様の応募済企業一覧
      </div>
      <table class = "st__my__main__applying__table">
        <tr class = "st__my__main__applying__table__tr">
          <th class = "st__my__main__applying__table__tr__th__status">
            ステータス
          </th>
          <th class = "st__my__main__applying__table__tr__th__name">
            応募企業名
          </th>
          <th class = "st__my__main__applying__table__tr__th__position">
            ポジション
          </th>
          <th class = "st__my__main__applying__table__tr__th__salary">
            年収
          </th>
          <th class = "st__my__main__applying__table__tr__th__location">
            勤務地
          </th>
        </tr>
      </table>
      <div class = "st__my__main__applying__detail">
        <table class = "st__my__main__applying__detail__table">
          <% @job_state.each do |job| %>
            <%if job.student_job_state.id >= 3%>
              <tr class = "st__my__main__applying__detail__table__tr">
                <td class = "st__my__main__applying__detail__table__tr__td__status">
                  <%if job.student_job_state.id == 5%>
                    <span class = passed><%= job.student_job_state.name %> </span>
                  <% elsif job.student_job_state.id >= 6%>
                    <span class = failed><%= job.student_job_state.name %> </span>
                  <% else %>
                    <span class = process><%= job.student_job_state.name %> </span>
                  <% end %>
                </td>
                <td class = "st__my__main__applying__detail__table__tr__td__name">
                  <%= link_to  job.job.name, "/jobs/#{job.job.id}"  %>
                </td>
                <td class = "st__my__main__applying__detail__table__tr__td__position">
                  <%= job.job.position %>
                </td>
                <td class = "st__my__main__applying__detail__table__tr__td__salary">
                  <% if job.job.min_annual_income == job.job.max_annual_income%>
                    <%= job.job.min_annual_income %>万
                  <% else %>
                    <%= job.job.min_annual_income %>万 〜 <%= job.job.max_annual_income %>万
                  <% end %>
                </td>
                <td class = "st__my__main__applying__detail__table__tr__td__location">
                  <%= job.job.location.prefecture %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </section>
    <section class = "st__my__main__keepca">
      <div class = "st__my__main__keepca__title">
        検討中の企業一覧
      </div>
      <table class = "st__my__main__keepca__table">
        <tr class = "st__my__main__keepca__table__tr">
          <th class = "st__my__main__keepca__table__tr__th__name">
            企業名
          </th>
          <th class = "st__my__main__keepca__table__tr__th__position">
            ポジション
          </th>
          <th class = "st__my__main__keepca__table__tr__th__salary">
            年収
          </th>
          <th class = "st__my__main__keepca__table__tr__th__location">
            勤務地
          </th>
          <th class = "st__my__main__keepca__table__tr__th__action">
            アクション
          </th>
        </tr>
      </table>
      <div class = "st__my__main__keepca__detail">
        <table class = "st__my__main__keepca__detail__table">
          <% @job_state.each do |job| %>
            <% if job.student_job_state.id == 2%>
              <tr class = "st__my__main__keepca__detail__table__tr">
                <td class = "st__my__main__keepca__detail__table__tr__td__name">
                  <%= link_to  job.job.name, "/jobs/#{job.job.id}"  %>
                </td>
                <td class = "st__my__main__keepca__detail__table__tr__td__position">
                  <%= job.job.position %>
                </td>
                <td class = "st__my__main__keepca__detail__table__tr__td__salary">
                  <% if job.job.min_annual_income == job.job.max_annual_income%>
                    <%= job.job.min_annual_income %>万
                  <% else %>
                    <%= job.job.min_annual_income %>万 〜 <%= job.job.max_annual_income %>万
                  <% end %>
                </td>
                <td class = "st__my__main__keepca__detail__table__tr__td__location">
                  <%= job.job.location.prefecture %>
                </td>
                <td class = "st__my__main__keepca__detail__table__tr__td__action">
                  <div class = "st__my__main__keepca__detail__table__tr__td__action__apply">
                    <%= link_to "応募", apply_job_path(id: job.job.id) %>
                  </div>
                  <div class = "st__my__main__keepca__detail__table__tr__td__action__detail">
                    <%= link_to  "詳細", "/jobs/#{job.job.id}"  %>
                  </div>
                  <div class = "st__my__main__keepca__detail__table__tr__td__action__remove">
                    <%= link_to "削除", keep_job_path(id: job.job.id) %>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </section>
  </div>
</main>
