<main class = "ca__job">

  <div class = "ca__job__main">
    <section class = "ca__job__main__keepca">
      <!-- タイトル -->
      <div class = "ca__job__main__keepca__title">
        企業一覧
      </div>
      <!-- テーブルのカラム名 -->
      <div class = "ca__job__main__keepca__detail">
        <table class = "ca__job__main__keepca__detail__table">
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <th class = "ca__job__main__keepca__detail__table__tr__th__name">
              企業名
            </th>
            <th class = "ca__job__main__keepca__detail__table__tr__th__position">
              ポジション
            </th>
            <th class = "ca__job__main__keepca__detail__table__tr__th__salary">
              年収
            </th>
            <th class = "ca__job__main__keepca__detail__table__tr__th__location">
              勤務地
            </th>
            <th class = "ca__job__main__keepca__detail__table__tr__th__status">
              確認
            </th>
          </tr>

          <!-- 求人の詳細情報 -->
          <% @jobs.each do |job| %>
            <tr class = "ca__job__main__keepca__detail__table__tr">
              <td class = "ca__job__main__keepca__detail__table__tr__td__name">
                <%= link_to job.name, job_path(job.id)%>
              </td>
              <td class = "ca__job__main__keepca__detail__table__tr__td__position">
                <%= job.position %>
              </td>
              <td class = "ca__job__main__keepca__detail__table__tr__td__salary">
                <%= job.min_annual_income.to_s(:delimited) %>万円 〜 <%= job.max_annual_income.to_s(:delimited) %>万円
              </td>
              <td class = "ca__job__main__keepca__detail__table__tr__td__location">
                <%= job.working_place_1 %>
              </td>
              <td class = "ca__job__main__keepca__detail__table__tr__td__status">
                確認
              </td>
            </tr>
          <% end %>
          
        </table>
      </div>
      <div class = "ca__job__main__keepca__new">
        <a href = "#">企業新規登録</a>
      </div>
    </section>
  </div>
</main>
