
<body>

  <div class = "top">
    <div class="top__contentbox">
      <div class = "top__contentbox__left">

        <form method="get" action="#" class="top__contentbox__left__search">
          <input class="top__contentbox__left__search__box" type="text" size="25" placeholder="　キーワード検索">
          <input class="top__contentbox__left__search__button" type="submit" value="&#xf002">
        </form>

        <div class = "top__contentbox__left__maincontent">
          <% @jobs.each do |job| %>
            <%# <% if job.student_job_state.id == 1%> 
              <div class = "top__contentbox__left__maincontent__jobbox">
                <div class ="top__contentbox__left__maincontent__jobbox__upbox">
                  <div class = "top__contentbox__left__maincontent__jobbox__upbox__left">
                    <h3><%= link_to job.name, job_path(job.id) %></h3>
                    <div class = "top__contentbox__left__maincontent__jobbox__upbox__left__detail">
                      <div class = "top__contentbox__left__maincontent__jobbox__upbox__left__detail__title">
                        お仕事の内容
                      </div>
                      <i class="fa fa-caret-right" id = "job__description"></i>
                      <div class = "top__contentbox__left__maincontent__jobbox__upbox__left__detail__description">
                        <%=  job.job_description %>
                      </div>
                    </div>
                  </div>
                  <div class = "top__contentbox__left__maincontent__jobbox__upbox__photo">
                    <% @images.where(job_id: job.id).each do |image|%>
                      <div><%= image_tag image.url, size: '250x150', class: "top__contentbox__left__maincontent__jobbox__upbox__photo__1"%></div>
                    <% end %>
                  </div>
                  <div class="top__contentbox__left__maincontent__jobbox__upbox__right">
                  </div>
                </div>
                <table class ="top__contentbox__left__maincontent__jobbox__downbox">
                  <tr>
                    <th class ="top__contentbox__left__maincontent__jobbox__downbox__left">業種</th><td class ="top__contentbox__left__maincontent__jobbox__downbox__right"><%= job.industry.name%></td>
                  </tr>
                  <tr>
                    <th class ="top__contentbox__left__maincontent__jobbox__downbox__left">雇用形態</th><td class ="top__contentbox__left__maincontent__jobbox__downbox__right"><%= job.employee_type.name%></td>
                  </tr>
                  <tr>
                    <th class ="top__contentbox__left__maincontent__jobbox__downbox__left">給与</th><td class ="top__contentbox__left__maincontent__jobbox__downbox__right">年収<%= job.min_annual_income%>万円〜<%= job.max_annual_income%>万円  基本給<%= job.basic_salary%>万円/月</td>
                  </tr>
                  <tr>
                    <th class ="top__contentbox__left__maincontent__jobbox__downbox__left">勤務地</th><td class ="top__contentbox__left__maincontent__jobbox__downbox__right">　<%= job.working_place_1%> <%= job.working_place_2%> <%= job.working_place_3%> <%= job.working_place_4%></td>
                  </tr>
                </table>
                <div class = "top__contentbox__left__maincontent__jobbox__detail">
                  <% if student_signed_in? || advisor_signed_in?%>
                    <%= link_to job_path(id: job.id) do%>
                      <i class="fa fa-info-circle"><span class = "top__contentbox__left__maincontent__jobbox__detail__text">詳細をみる</span></i>
                    <% end %>
                  <%else%>
                    <%= link_to new_student_session_path do %>
                      <i class="fa fa-info-circle"><span class = "top__contentbox__left__maincontent__jobbox__detail__text">ログインして詳細をみる</span></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
          <% end %>
        </div>
      </div>

      <% if student_signed_in? %>
        <%= render partial: "chats/chat" , locals: { chats: @chat } %>
      <% end %>
      <% if advisor_signed_in? %>
        <%= render partial: "chats/chat" , locals: { chats: @chat } %>
      <% end %>


    </div>
  </div>

</body>