
<body>

  <div class = "top">
    <div class="top__contentbox">
      <div class = "top__contentbox__left">

        <form method="get" action="#" class="top__contentbox__left__search">
          <input class="top__contentbox__left__search__box" type="text" size="25" placeholder="　キーワード検索">
          <input class="top__contentbox__left__search__button" type="submit" value="&#xf002">
        </form>

        <div class = "top__contentbox__left__maincontent">
          <% @jobs.each do |job| %>
            <div class = "top__contentbox__left__maincontent__jobbox">
              <div class ="top__contentbox__left__maincontent__jobbox__upbox">
                <div class = "top__contentbox__left__maincontent__jobbox__upbox__left">
                  <h3><%= job.name %></h3>
                </div>
                <div class="top__contentbox__left__maincontent__jobbox__upbox__right">
                  <div class="top__contentbox__left__maincontent__jobbox__upbox__right__1">
                  <p>応募する</p>
                  </div>
                  <div class="top__contentbox__left__maincontent__jobbox__upbox__right__2">
                  <p>興味なし</p>
                  </div>
                  <div class="top__contentbox__left__maincontent__jobbox__upbox__right__3">
                  <p>保留</p>
                  </div>
                </div>
              </div>
              <table class ="top__contentbox__left__maincontent__jobbox__downbox">
                <tr>
                  <th class ="top__contentbox__left__maincontent__jobbox__downbox__left">業種</th><td class ="top__contentbox__left__maincontent__jobbox__downbox__right"><%= job.industry.name%></td>
                </tr>
                <tr>
                  <th class ="top__contentbox__left__maincontent__jobbox__downbox__left">雇用形態</th><td class ="top__contentbox__left__maincontent__jobbox__downbox__right"><%= job.employee_type.name%></td>
                </tr>
                <tr>
                  <th class ="top__contentbox__left__maincontent__jobbox__downbox__left">給与</th><td class ="top__contentbox__left__maincontent__jobbox__downbox__right">年収<%= job.min_annual_income%>万円〜<%= job.max_annual_income%>万円  基本給<%= job.basic_salary%>万円/月</td>
                </tr>
                <tr>
                  <th class ="top__contentbox__left__maincontent__jobbox__downbox__left">勤務地</th><td class ="top__contentbox__left__maincontent__jobbox__downbox__right">　<%= job.working_place_1%> <%= job.working_place_2%> <%= job.working_place_3%> <%= job.working_place_4%></td>
                </tr>
              </table>
            </div>
          <% end %>
        </div>

      </div>

      <%= render partial: "chats/chat" , locals: { chats: @chats } %>
    </div>
  </div>

</body>

      <%# <div class="top__contentbox__right"> %>

        <%# <div class = "top__contentbox__right__comments">
          <%# 左コメント %>
          <%# <div class="top__contentbox__right__comments__commentleft">
            <div class="top__contentbox__right__comments__commentleft__box">
              <div class="top__contentbox__right__comments__commentleft__box__content">
                <div class="top__contentbox__right__comments__commentleft__box__content__text">就職についてご相談があるのですが本日ははお時間ありますでしょうか</div>
              </div>
            </div>
          </div>
          <div class="top__contentbox__right__comments__leftimage">
            <img src="image.jpg" width="40" height="40" class="icon">
          </div> %>
          <%# <div class="top__contentbox__right__comments__clear"></div><!-- 回り込みを解除（スタイルはcssで充てる） --> %>
          <%# 右コメント %>
          <%# <div class="top__contentbox__right__comments__commentright">
            <div class="top__contentbox__right__comments__commentright__box">
              <div class="top__contentbox__right__comments__commentright__box__content">
                <div class="top__contentbox__right__comments__commentright__box__content__text">本日はお休みなので明日の14時はご都合いかがでしょうか？</div>
              </div>
            </div>
          </div>
          <div class="top__contentbox__right__comments__rightimage">
            <img src="image.jpg" width="40" height="40" class="icon">
          </div>
          <div class="top__contentbox__right__comments__clear"></div><!-- 回り込みを解除（スタイルはcssで充てる） -->

        </div>
 %>

        <%# <div class="top__contentbox__right__submit">
          <textarea class="top__contentbox__right__submit__message"></textarea>
          <div class="top__contentbox__right__submit__btn">送信</div>
        </div> %>

      <%# </div> %>
    <%# </div> %>
  
