<div class="jobIndex">
  <div class="jobIndex__inner">
    <div class="jobIndex__inner__left">
      <div class="jobIndex__inner__left__wrapper">
        <div class="jobIndex__inner__left__wrapper__header">興味がある求人があればログインしてキャリアアドバイザーに<span>「チャット」</span>で相談してみましょう！</div>
        <% @jobs.each do |job| %>
        <div class="jobIndex__inner__left__wrapper__content">
          <% if student_signed_in? || advisor_signed_in?%>
          <%= link_to job_path(id: job.id), class: "jobIndex__inner__left__wrapper__content__imgLink" do %>
            <div class="jobIndex__inner__left__wrapper__content__imgLink__box">
              <%= image_tag @images.find_by(job_id: 2).url, width: '250',height: '180', class: "jobIndex__inner__left__wrapper__content__imgLink__img" %>
            </div>
          <% end %>
          <%else%>
          <%= link_to new_student_session_path, class: "jobIndex__inner__left__wrapper__content__imgLink" do %>
            <div class="jobIndex__inner__left__wrapper__content__imgLink__box">
              <%= image_tag 'photo4.png',width: '250',height: '180', class: "jobIndex__inner__left__wrapper__content__imgLink__img" %>
            </div>
          <% end %>
          <% end %>
          <div class="jobIndex__inner__left__wrapper__content__jobContents">
            <div class="jobIndex__inner__left__wrapper__content__jobContents__up">
              <section class="jobIndex__inner__left__wrapper__content__jobContents__up__text">
                <span class="jobIndex__inner__left__wrapper__content__jobContents__up__text__typename"><%= job.employee_type.name %></span>
                <span class="jobIndex__inner__left__wrapper__content__jobContents__up__text__time"><%= job.updated_at.strftime("%Y-%m-%d") %></span>
              </section>
              <h1 class="jobIndex__inner__left__wrapper__content__jobContents__up__title"><%= job.position %><span>募集!</span></h1>
              <section class="jobIndex__inner__left__wrapper__content__jobContents__up__cdt">
                <span><i class="fa fa-dollar"></i> 年収<%= job.min_annual_income %>万円〜<%= job.max_annual_income %>万円</span>
                <span> <i class="fa fa-map-pin"></i> <%= job.working_place_1 %></span>
              </section>
            </div>
            <div class="jobIndex__inner__left__wrapper__content__jobContents__under">
              <h2 class="jobIndex__inner__left__wrapper__content__jobContents__under__name"><%= job.name %></h2>
              <section class="jobIndex__inner__left__wrapper__content__jobContents__under__info">ここになにか情報を入れれます</section>
              <div class="jobIndex__inner__left__wrapper__content__jobContents__under__link">
                <% if student_signed_in? || advisor_signed_in?%>
                  <%= link_to job_path(id: job.id),class: "jobIndex__inner__left__wrapper__content__jobContents__under__link__btn" do%>
                    <i class="fa fa-info-circle"> <span class = "j">詳細をみる</span></i>
                  <% end %>
                <%else%>
                  <%= link_to new_student_session_path,class: "jobIndex__inner__left__wrapper__content__jobContents__under__link__btn" do %>
                    <i class="fa fa-info-circle"> <span class = "j">ログインして詳細をみる</span></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
    <div class="jobIndex__inner__right">
<!-- 新着コンテンツ -->
      <div class="jobIndex__inner__right__sideContent">
        <h3 class="jobIndex__inner__right__sideContent__title">応募ランキング</h3>
        <% @newjobs.each do |job| %>
        <div class="jobIndex__inner__right__sideContent__box">
          <%= link_to root_path,class: "jobIndex__inner__right__sideContent__box__link" do%>
            <div class="jobIndex__inner__right__sideContent__box__link__left">
              <%= image_tag 'div.png',width: '130',height: '90', class: "jobIndex__inner__right__sideContent__box__link__left__img" %>
            </div>
            <div class="jobIndex__inner__right__sideContent__box__link__right">
              <h4 class="jobIndex__inner__right__sideContent__box__link__right__title"><%= job.name %></h4>
              <p class="jobIndex__inner__right__sideContent__box__link__right__text"><%= job.job_description %></p>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
