<div class="adviser-new">
  <div class="adviser-new__inner">
    <section class="adviser-new__inner__title">CA登録フォーム</section>
    <section class="adviser-new__inner__text">TECH::EXPERT求人system</section>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="adviser-new__inner__main">


      <div class="adviser-new__inner__main__field">
        <%= f.label :名前,class: 'adviser-new__inner__main__field__label' %><span class="from-wrapper__inner__main__formarea__field__flag">必須</span><br/>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "スティーブ　ジョブ", class: "adviser-new__inner__main__field__input" %>
      </div>

      <div class="adviser-new__inner__main__field">
        <%= f.label :email %><span class="from-wrapper__inner__main__formarea__field__flag">必須</span><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@example", class: "adviser-new__inner__main__field__input" %>
      </div>

      <div class="adviser-new__inner__main__field">
        <%= f.label :password %><span class="from-wrapper__inner__main__formarea__field__flag">必須</span>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力してください", class: "adviser-new__inner__main__field__input" %>
      </div>

      <div class="adviser-new__inner__main__field">
        <%= f.label :password_confirmation %><span class="from-wrapper__inner__main__formarea__field__flag">必須</span><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードをもう一度入力してください", class: "adviser-new__inner__main__field__input" %>
      </div>

      <div class="adviser-new__inner__main__submit">
        <%= f.button "新規登録する",class: "adviser-new__inner__main__submit__btn" %>
      </div>
    <% end %>

    <%= render "advisors/shared/links" %>
    </div>

  </div>

</div>
