<main class = "ca__my">

  <div class = "ca__my__main">
    <section class = "ca__my__main__applying">
      <!-- タイトル -->
      <div class = "ca__my__main__applying__title">
        生徒一覧
      </div>
      <div class = "ca__my__main__applying__detail">
        <!-- テーブル -->
        <table class = "ca__my__main__applying__detail__table">
          <!-- テーブルのカラム名 -->
          <tr class = "ca__my__main__applying__detail__table__tr">
            <th class = "ca__my__main__applying__detail__table__tr__th__name">
              名前
            </th>
            <th class = "ca__my__main__applying__detail__table__tr__th__term">
              期
            </th>
            <th class = "ca__my__main__applying__detail__table__tr__th__ca">
              担当CA
            </th>
            <th class = "ca__my__main__applying__detail__table__tr__th__applying">
              選考状況（会社数）
            </th>
          </tr>
          <!-- テーブルのレコード（全生徒についてeachで繰り返し表示） -->
          <% @students.each do |student| %>
            <tr class = "ca__my__main__applying__detail__table__tr">
              <td class = "ca__my__main__applying__detail__table__tr__td__name">
              <% if student.image_url.present? %>
                <div class="ca__my__main__applying__detail__table__tr__td__name__photo"><%= image_tag student.image_url.url, size: '40x40', class: "ca__my__main__applying__detail__table__tr__td__name__photo__image" %></div>
              <% else %>
                <div class="ca__my__main__applying__detail__table__tr__td__name__photo"><%= image_tag 'mypage.png', size: '40x40', class: "ca__my__main__applying__detail__table__tr__td__name__photo__image" %></div>
              <% end %>
                <div class = "ca__my__main__applying__detail__table__tr__td__name__text">
                  <%= link_to student.name, student_path(student.id)%>
                </div>
              </td>
              <td class = "ca__my__main__applying__detail__table__tr__td__term">
                <%= student.period %>
              </td>
              <td class = "ca__my__main__applying__detail__table__tr__td__ca">
                <span><%= student.advisor.name %></span>
                <% if student.advisor.id == 1%>
                  <span class = "ca__my__main__applying__detail__table__tr__td__ca__pic"><%= link_to "担当になる", ca_student_path(id: student.id) %></span>
                <% end %>
              </td>
              <td class = "ca__my__main__applying__detail__table__tr__td__applying">
                <div class = "ca__my__main__applying__detail__table__tr__td__applying__process">
                  <i class="fa fa-caret-right"></i>CA推薦　<span><%= student.student_jobs.where(student_job_state_id: 1).count == 0 ? "　" : student.student_jobs.where(student_job_state_id: 1).count%></span>
                </div>
                <div class = "ca__my__main__applying__detail__table__tr__td__applying__process">
                  <i class="fa fa-caret-right"></i>検討中　<span><%= student.student_jobs.where(student_job_state_id: 2).count == 0 ? "　" : student.student_jobs.where(student_job_state_id: 2).count%></span>
                </div>
                <div class = "ca__my__main__applying__detail__table__tr__td__applying__process">
                  <i class="fa fa-caret-right"></i>応募中　<span><%= student.student_jobs.where(student_job_state_id: 3).count == 0 ? "　" : student.student_jobs.where(student_job_state_id: 3).count%></span>
                </div>
                <div class = "ca__my__main__applying__detail__table__tr__td__applying__process">
                  <i class="fa fa-caret-right"></i>選考中　<span><%= student.student_jobs.where(student_job_state_id: 4).count == 0 ? "　" : student.student_jobs.where(student_job_state_id: 4).count%></span>
                </div>
                <div class = "ca__my__main__applying__detail__table__tr__td__applying__process">
                  <i class="fa fa-caret-right"></i>内定済　<span><%= student.student_jobs.where(student_job_state_id: 5).count == 0 ? "　" : student.student_jobs.where(student_job_state_id: 5).count%></span>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </section>
  </div>
</main>

