<!DOCTYPE html>
<html>
  <head>
    <title>TechCareer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if student_signed_in? %>
    <% else %>
    <div class="main-header">

      <div class="main-header__logo">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', class: "main-header__logo__link" %>
        <% end %>
      </div>

      <div class="main-header__content">
        <div class="main-header__content__left">
          <ul class="main-header__content__left__bloak">
            <%= link_to "CA新規登録", new_advisor_registration_path, class: "main-header__content__left__bloak__link-ca" %>
            <%= link_to "CAログイン", new_advisor_session_path, class: "main-header__content__left__bloak__link-ca" %>
          </ul>
        </div>

        <div class="main-header__content__right">
          <ul class="main-header__content__right__bloak">
            <%= link_to "生徒新規登録", new_student_registration_path, class: "main-header__content__right__bloak__link-st" %>
            <%= link_to "生徒ログイン", new_student_session_path, class: "main-header__content__right__bloak__link-st" %>
          </ul>
        </div>
      </div>


    <% end %>
    </div>
    <%= yield %>
  </body>
</html>
