<!DOCTYPE html>
<html>
  <head>
    <title>TechCareer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ここからヘッダー -->
    <div class="header-title">
      <p>「人生にサプライズを」divは人生を変える機会をつくる会社です。</p>
    </div>

    <% if student_signed_in? %>
    <div class="header">
      <div class="header__wrapper">
        <div class="header__wrapper__inner">
          <div class="header__wrapper__inner__left">
            <h1 class="header__wrapper__inner__left__logo">
              <%= link_to root_path do %>
                <%= image_tag 'header.png', class: "main-header__logo__link" %>
              <% end %>
            </h1>
          </div>
          <div class="header__wrapper__inner__right">
            <ul class="header__wrapper__inner__right__list">
              <li class="header__wrapper__inner__right__list__img">
                <% if current_student.image.present? %>
                  <%= image_tag current_student.image.url, size: '48x48', class: "header__wrapper__inner__right__list__img__pic" %>
                <% else %>
                  <%= image_tag 'mypage.png', size: '48x48', class: "header__wrapper__inner__right__list__img__pic" %>
                <% end %>
              </li>
              <li class="header__wrapper__inner__right__list__name">
                <%= link_to edit_student_path(current_student), class: "header__wrapper__inner__right__list__name__link" do %>
                  <%= current_student.name %><span> 様 </span>
                <% end %>
              </li>
              <li class="header__wrapper__inner__right__list__icon">
                <%= link_to student_path(id: current_student), class: "header__wrapper__inner__right__list__icon__link" do %>
                  <i class="fa fa-book fa-2x"></i>
                <% end %>
              </li>
              <%# group_path(current_student) %>
              <li class="header__wrapper__inner__right__list__menu">
                <%= link_to new_group_path, class: "header__wrapper__inner__right__list__icon__link" do %>
                  <i class="fa fa-comment fa-2x"></i>
                <% end %>
              </li>
              <li class="header__wrapper__inner__right__list__menu">
                <%= link_to destroy_student_session_path, method: :delete, class: "header__wrapper__inner__right__list__icon__link" do %>
                  <i class="fa fa-bars fa-2x"></i>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% elsif advisor_signed_in? %>
    <div class="header">
      <div class="header__wrapper">
        <div class="header__wrapper__inner">
          <div class="header__wrapper__inner__left">
            <h1 class="header__wrapper__inner__left__logo">
              <%= link_to root_path do %>
                <%= image_tag 'header.png', class: "main-header__logo__link" %>
              <% end %>
            </h1>
          </div>
          <div class="header__wrapper__inner__right">
            <ul class="header__wrapper__inner__right__list">
              <li class="header__wrapper__inner__right__list__img">
                <!-- 画像 -->
              </li>
              <li class="header__wrapper__inner__right__list__name">
                <h1 class="header__wrapper__inner__right__list__name__link"><span>CA:</span><%= current_advisor.id %><span> <%= current_advisor.name %> </span></h1>
              </li>
              <li class="header__wrapper__inner__right__list__icon">
                <%= link_to new_job_path, class: "header__wrapper__inner__right__list__icon__link" do %>
                  <i class="fa fa-edit fa-2x"></i>
                <% end %>
              </li>
              <li class="header__wrapper__inner__right__list__student">
                <%= link_to all_jobs_path, class: "header__wrapper__inner__right__list__icon__link" do %>
                  <i class="fa fa-building fa-2x"></i>
                <% end %>
              </li>
              <li class="header__wrapper__inner__right__list__menu">
                <%= link_to students_advisors_path, class: "header__wrapper__inner__right__list__icon__link" do %>
                  <i class="fa fa-user fa-2x"></i>
                <% end %>
              </li>
              <li class="header__wrapper__inner__right__list__menu">
                <%= link_to new_group_path, class: "header__wrapper__inner__right__list__icon__link" do %>
                  <i class="fa fa-file fa-2x"></i>
                <% end %>
              </li>
              <li class="header__wrapper__inner__right__list__menu">
                <%= link_to groups_path, class: "header__wrapper__inner__right__list__icon__link" do %>
                  <i class="fa fa-comment fa-2x"></i>
                <% end %>
              </li>
              <li class="header__wrapper__inner__right__list__menu">
                <%= link_to destroy_advisor_session_path, method: :delete, class: "header__wrapper__inner__right__list__icon__link" do %>
                  <i class="fa fa-bars fa-2x"></i>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% else %>
    <div class="header">
      <div class="header__wrapper">
        <div class="header__wrapper__inner">
          <div class="header__wrapper__inner__left">
            <h1 class="header__wrapper__inner__left__logo">
              <%= link_to root_path do %>
                <%= image_tag 'header.png', class: "main-header__logo__link" %>
              <% end %>
            </h1>
          </div>
          <div class="header__wrapper__inner__right">
            <ul class="header__wrapper__inner__right__list">
              <li class="header__wrapper__inner__right__list__name">
                <%= link_to "CA新規登録", new_advisor_registration_path, class: "header__wrapper__inner__right__list__name__link-ca" %>
              </li>
              <li class="header__wrapper__inner__right__list__name">
                <%= link_to "CAログイン", new_advisor_session_path, class: "header__wrapper__inner__right__list__name__link-ca" %>
              </li>
              <li class="header__wrapper__inner__right__list__name">
                <%= link_to "生徒新規登録", new_student_registration_path, class: "header__wrapper__inner__right__list__name__link" %>
              </li>
              <li class="header__wrapper__inner__right__list__name">
                <%= link_to "生徒ログイン", new_student_session_path, class: "header__wrapper__inner__right__list__name__link" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <script>
      $('.notice').fadeOut(3000);
      $('.alert').fadeOut(3000);
      $('.success').fadeOut(3000);
      $('.alert').fadeOut(3000);
    </script>

    <%= yield %>
  </body>

</html>
